@model OregonNexus.Broker.Web.ViewModels.IncomingRequests.CreateIncomingRequestViewModel
@using static OregonNexus.Broker.Web.Constants.Claims.CustomClaimType;
@{
  // Copyright: 2023 Education Nexus Oregon
  // Author: Makoa Jacobsen, makoa@makoajacobsen.com
  ViewData["Title"] = "Incoming Record Request Mapping";
  Layout = "_AuthenticatedLayout";
  ViewData["FocusBar"] = true;
  ViewData["FocusBarReadOnly"] = true;
}

<form x-data="incomingMapping" method="post" asp-action="Mapping" autocomplete="off">
  <input type="hidden" name="_METHOD" value="PUT" />
  <div class="space-y-10 divide-y divide-gray-900/10">
    <div class="px-4 sm:px-0">
      <div class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl">
        <div class="grid gap-6 px-4 py-6 sm:p-8">
          <div>
            <h2 class="text-base font-semibold leading-7 text-gray-900">Releasing School Student Data</h2>
            <p class="mt-1 text-sm leading-6 text-gray-600">The student data provided by the releasing school.</p>
          </div>
          <div class="grid gap-6">
            <div>
              <div class="sm:hidden">
                <label for="tabs" class="sr-only">Select a tab</label>
                <select x-model="currentTab" id="tabs"
                  class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-tertiary-500 focus:outline-none focus:ring-tertiary-500 sm:text-sm">
                  <option value="programAssociations">Program Associations</option>
                </select>
              </div>
              <div class="hidden sm:block">
                <div class="border-b border-gray-200">
                  <nav class="-mb-px flex space-x-8" aria-label="Tabs">
                    <button type="button"
                      :class="currentTab === 'programAssociations' ? 'border-tertiary-500 text-tertiary-600' : 'border-transparent'"
                      class="text-gray-500 hover:border-gray-300 hover:text-gray-700 whitespace-nowrap border-b-2 py-4 px-1 text-sm font-medium"
                      @@click="currentTab = 'programAssociations'">
                      Program Associations
                    </button>
                  </nav>
                </div>
              </div>
            </div>
            <div class="grid gap-6 rounded-lg shadow-sm ring-1 ring-gray-900/5">
              <table class="min-w-full divide-y divide-gray-300">
                <thead>
                  <tr>
                    <th colspan="2" scope="col"
                      class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Program Type</th>
                    <th colspan="2" scope="col"
                      class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Program Name</th>
                    <th colspan="2" scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Begin
                      Date</th>
                    <th colspan="2" scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">End
                      Date</th>
                  </tr>
                  <tr>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Sent
                    </th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">
                      Import</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Sent
                    </th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">
                      Import</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Sent
                    </th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">
                      Import</th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">Sent
                    </th>
                    <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">
                      Import</th>
                  </tr>
                </thead>
                <tbody>
                  <template x-for="(programAssociation, index) in mappedProgramAssociations">
                    <tr class="even:bg-gray-50">
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-600">
                        <input type="text"
                          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-600">
                        <input type="text"
                          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-600">
                        <input type="text"
                          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                      </td>
                      <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-600">
                        <input type="text"
                          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-tertiary-700 sm:text-sm sm:leading-6">
                      </td>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
          <a asp-controller="Incoming" asp-action="Index" asp-authorize asp-policy="@TransferIncomingRecords"
            class="text-sm font-semibold leading-6 text-gray-900">
            Cancel
          </a>
          <input asp-for="RequestId" type="hidden" />
          <input asp-for="EducationOrganizationId" type="hidden" />
          <button type="submit"
            class="rounded-md bg-tertiary-50 px-3 py-2 text-sm font-semibold text-tertiary-600 shadow-sm hover:bg-tertiary-100">
            Save
          </button>
        </div>
      </div>
    </div>
  </div>
</form>