@{
    // Copyright: 2023 Education Nexus Oregon
    // Author: Makoa Jacobsen, makoa@makoajacobsen.com
    Layout = "_SettingsLayout";
}
<div>
  <p>Incoming Payload for @Model.Payload</p>
  
  <p>Data Destinations: <select></select></p>
</div>
