@{
    // Copyright: 2023 Education Nexus Oregon
    // Author: Makoa Jacobsen, makoa@makoajacobsen.com
    Layout = "_SettingsLayout";
}
<div>
  <p>Outgoing Payload @Model.Payload</p>
  <p>Data Sources: <select></select></p>
</div>