@model List<OregonNexus.Broker.Domain.Request>
@{
    // Copyright: 2023 Education Nexus Oregon
    // Author: Makoa Jacobsen, makoa@makoajacobsen.com
    ViewData["Title"] = "Outgoing Transfer Requests";
    Layout = "_AuthenticatedLayout";
    ViewData["FocusBar"] = true;
}
<div class="">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Outgoing Requests</h1>
      <p class="mt-2 text-sm text-gray-700">Outgoing records transfer requests.</p>
    </div>
    <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
      <a href="#" type="button" class="block rounded-md bg-blue-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600">Make Outgoing Request</a>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="overflow-x-auto">
      <div class="inline-block min-w-full py-2 align-middle">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-3">District</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">School</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Student</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Date</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-3">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="bg-white">
            @{ var even = true; }
            @foreach(var org in Model)
            {
            <tr class="@(even ? "bg-gray-50": "")">
              <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-3">District</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">School</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Student</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Date</td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Status</td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-3">
                <a href="#" class="text-indigo-600 hover:text-indigo-900">Edit</a>
              </td>
            </tr>
            even = !even;
            }
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
