@model OregonNexus.Broker.Web.ViewModels.OutgoingRequests.CreateOutgoingRequestViewModel
@{
    // Copyright: 2023 Education Nexus Oregon
    // Author: Makoa Jacobsen, makoa@makoajacobsen.com
    ViewData["Title"] = "Outgoing Transfer Request Details";
    Layout = "_AuthenticatedLayout";
}

<div class="grid gap-6">
  <form method="post" asp-action="Update" autocomplete="off">
    <input type="hidden" name="_METHOD" value="PUT" />
    <partial name="_form" for="@Model" />
  </form>
</div>
