<div class="my-4">
    <div class="px-4 sm:px-0">
        <div class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl">
            <div class="px-4 py-6 sm:p-8 grid gap-8">
                <div class="grid grid-cols-1 gap-6 sm:grid-cols-6">
                    <div class="sm:col-span-3">
                        <div class="block text-sm font-medium leading-6 text-gray-900">Attachment List</div>
                        <div class="mt-2">
                            <div class="flex items-center justify-center w-full">
                                <label for="dropzone-file"
                                    class="flex flex-col items-center justify-center w-full h-64 border-2 border-gray-300 border-dashed rounded-lg cursor-pointer bg-gray-50 hover:bg-gray-100">
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="sm:col-span-3">
                        <label class="block text-sm font-medium leading-6 text-gray-900">Upload File(s)</label>
                        <div class="mt-2">
                            <div class="flex items-center justify-center w-full">
                                <input id="dropzone-file" type="file" multiple="true" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>