@model OregonNexus.Broker.Web.ViewModels.IncomingRequests.CreateIncomingRequestViewModel
@{
    ViewData["Title"] = "Create Incoming Record Request";
    Layout = "_AuthenticatedLayout";
}

<form
  method="post"
  asp-action="Create"
  autocomplete="off"
>
  <partial name="_form" for="@Model" />
</form>
